header {
    display: flex;
    justify-content: space-around;
    background-color: #00000089;
    padding: 3vh;
    width: 100%;
    align-items: center;
    color: white;
    position: fixed;
    z-index: 10;

    nav {
        display: flex;
        gap: 3vh;

        a {
            font-size: 2.5vh;
            color: white;
        }

        a:hover {
            color: #CDA45E;
        }
    }

    label {
        display: none;
    }

    .btn1>button {
        background-color: transparent;
        color: white;
        border: 2px solid #CDA45E;
        border-radius: 15px;
        padding: 1vh 5vh;
    }

    .btn1>button:hover {
        background-color: #CDA45E;
    }

}






.modale {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    z-index: 100000000000000;

  
  }
  .form-conten{
    background-color: #000;
   display: flex;
   flex-direction: column;
   gap: 5vh;
   align-items: center;
   
  }

  .modal-conten {
    background-color: #000;
    margin-inline:  55vh auto !important;
    padding: 20px;
    border: 1px solid #CDA45E;
    width: 50%;
  }
  
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .btn3>button {
    background-color: transparent;
    color: white;
    border: 2px solid #CDA45E;
    border-radius: 15px;
    padding: 1vh 5vh;
}

.btn3>button:hover {
    background-color: #CDA45E;
}
.input-group label{
    color: white;
}
.input-group{
    display: flex;
    gap: 2vh;
}
.input-group>input{
    background-color: #000;
    border: 2px solid #CDA45E;
    width: 90%;
}


@media (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
    }

    header {



        label {
            display: block;
        }

        nav {

            left: -500vh;
            position: fixed;
            top: 10vh;
            width: 70%;
            height: 85vh;
            background-color: #29261f;
            flex-direction: column;
            align-items: start;
            padding: 5vh;
            justify-content: center;
            padding-left: 150vh;
            padding-inline: 4vw;
            transition: 0.2s;

            a {
                font-size: 4vh;
                color: white;
            }
        }

        .btn1 {
            display: none;
        }
    }

}